
h1, h2 {
	font-size: 45px;
    font-family: 'Indie Flower', cursive, bold;
	font-color:#990;
}

p, h4{ font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-color:#990;
 }

div.container {
	background-color: darkgrey;
    width: 80%;
    padding: 25px;
    margin: 25px;
}
img{
    width: 50px;
    height: 50px;
}
